<template name="projectview">
		{{>projectviewsettings}}
		{{>addviewsettings}}
	   <div class="project-header-column project-header-column-activebg">
			 <div class = "projectview-header-div">
				 <div class="l-projectview-header"><h1>ProjectView</h1></div>
					<div class="m-projectview-header"></div>
					<div class="r-projectview-header"><a href="" class="add-icon" onclick="loadAddModal()"></a><a href="" class="settings-icon" onclick="loadProjectSettings()"></a>
					</div>
				</div>
				  {{> vis}}

				<br>
				<br>

		</div>

        {{>taskModal}}
	<div class="rowzzz">
		<div class="project-content-column project-content-column-activebg">
	      			{{> tasksList}}

		</div>

		<div class="project-content-column project-content-column-sleepinbg">
					{{> activeTasksList}}
	</div>
	</div>
</template>


<template name="vis">
  <div id="circles"></div>
</template>
