<template name="projectview">

	   <div class="project-header-column project-header-column-activebg"> 
				<h1> 	
					Welcome to the projectview.
				</h1>
		</div>
	<div class="rowzzz">
		<div class="project-content-section">
			<div class="project-content-column project-content-column-activebg"> 
					<i class="fa fa-car fa-5x"></i>
			</div>
			<div class="project-content-column project-content-column-sleepinbg"> 
					<i class="fa fa-optin-monster fa-5x"></i>
			</div>	
		</div>
	</div>
</template>