<template name="welcomeScreen">
	<div class="jumbotron container-fluid">
		<h1> 
			{{>notLoggedIn}}
			{{>loggedIn}}
		</h1>
        {{>createProjectModal}}
	</div>
</template>

<template name="notLoggedIn"> 
    <div id="notLoggedInText" style="text-align: center; hide=true;">
        <h3>Welcome to TaskFlow</h3>
        <p>Log in to get the flow going</p>
    </div>
</template>

<template name="loggedIn"> 
    <div id="loggedInText" style="text-align: center; hide=true;">
        <h3>Welcome back user</h3>
        <p>Here is an overview of your projects: </p>  
    </div>
    <div id="projectSpace col-md-12" style="text-align: center; hide=true;"> 
        {{#each projectList}}
            {{>projectCard}}    
        {{/each}}
    </div>
    <div>
        {{>createNewProjectButton}}
    </div>

</template>

<template name="projectCard">
	<div class="jumbotron project-card col-md-4" style="text-align: center;">
        <h3 id="projectName">
    		{{title}}
    	</h3>
    </div>
</template>

<template name='createNewProjectButton'>
    <div class="col-md-12 create-project-button">
        <button id="createNewProjectButton" class="btn btn-success btn-lg">
        <p id="buttonText">Create new project</p>
        </button>
    </div>
</template>
