
.chat-primary{
   margin-left: 1vw;
   height: inherit;

}

.chat-div{
   height: 83vh;
   font-size: 1.5rem;
   align-content: flex-end;
}
.chat-input-div{
   height: 5vh;
   margin-bottom: 4vh;
}
.chat-input-text{
   font-size: 2rem;
   width: 90%;
   height: 100%;
   margin-left: 2%;
   margin-bottom: auto;
   line-height: 1.2rem;
   border: 2px solid #c4c1c1;
   -moz-border-radius: 0.2rem;
   -webkit-border-radius: 0.2rem;
   border-radius: 0.2rem;
   -moz-background-clip: padding-box;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   color: #3d3c40;
   -webkit-appearance: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   outline: 0;
   bottom: 0;
   min-height: 41px !important;
   padding: 9px 5px 9px 8px;
}
