@import "G:\S\Projects\Meteor\taskFlow\client\stylesheets\vendor\custom.bootstrap.mixins.import.less";
@import "G:\S\Projects\Meteor\taskFlow\client\stylesheets\vendor\custom.bootstrap.import.less";

.basic-column {
    background-color: #b0c4de;
    margin: auto;
    height:10vh;
    text-align:center;
    .make-lg-column(4,2);
}

.small-column {
    margin: auto;
    height:90vh;
    background-color: #b9e6df;
    padding-top: 5px;
    padding-left: 5px;
    .make-md-column(1);
    text-align:center;
}

.large-column {
    margin: auto;
    height:90vh;
    .make-md-column(10);
}
.rowzzz {
	.make-row();
}