@import "G:\S\Projects\Meteor\taskFlow\client\stylesheets\vendor\custom.bootstrap.mixins.import.less";
@import "G:\S\Projects\Meteor\taskFlow\client\stylesheets\vendor\custom.bootstrap.import.less";

.basic-column {
    padding-top: 25px;
    padding-left: 25px;
    .make-lg-column(4);
}

.large-column {
    padding-top: 25px;
    padding-left: 25px;
    .make-lg-column(12);
}