.projectview-header-div {
    display: table;
    width: 90vw;
    height: 4vh;
    background-color: #226677;
    table-layout: fixed;
}
.projectview-header-div > div {
   display: table-cell;
}
.l-projectview-header {
   text-align: center;
   font-size: 2.5rem;
    width: 10vw;
}
.m-projectview-header {
   font-size: 2rem;
   text-align: center;
    width: 41vw;
}
.r-projectview-header {
    width: 19vw;
}

.project-modal-body {
    height: 250px;
    vertical-align: top;

    label{
        font-size: 18px;
        color: #555;
        height: 20px;
        width: 200px;
        margin-top: 10px;
        margin-left: 10px;
        text-align: right;
        margin-right:15px;
        float:left;
    }
    input{
        height: 20px;
        width: 300px;
        border: 1px solid #000;
        margin-top: 10px;
    }
}
