@import ".\client\stylesheets\vendor\custom.bootstrap.mixins.import.less";
@import ".\client\stylesheets\vendor\custom.bootstrap.import.less";

#projectList{
	display: block;
	position: center;
}


.project-card{
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #0099FF;
    border-radius: 20px;
    position: center;
    overflow: hidden;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 10px !important;
    padding-top: 25px !important;
    
    #projectName{
    	color: #003366;
    }
}
.create-project-button {
    text-align: center;
    
    .btn{
    	border-radius: 10px;
    	background: #66FF99;	
    	#buttonText{
    		color: #003300;
    	}
    }
}

.modal {
    width: 300px;
    height: 50%;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}
.modal-content {
    height: 50%;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.project-info-input{
    
}