@import ".\client\stylesheets\vendor\custom.bootstrap.mixins.import.less";
@import ".\client\stylesheets\vendor\custom.bootstrap.import.less";

#projectList{
	display: block;
	position: center;
}


.project-card{
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #0099FF;
    border-radius: 20px;
    position: center;
    overflow: hidden;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 10px !important;
    padding-top: 25px !important;
    
    #projectName{
    	color: #003366;
    }
}
.create-project-button {
    text-align: center;
    
    .btn{
    	border-radius: 10px;
    	background: #66FF99;	
    	#buttonText{
    		color: #003300;
    	}
    }
}