@import ".\client\stylesheets\vendor\custom.bootstrap.mixins.import.less";
@import ".\client\stylesheets\vendor\custom.bootstrap.import.less";

#projectList{
	display: block;
	position: center;
}


.project-card{
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #0099FF;
    border-radius: 20px;
    overflow: hidden;
    
    #projectName{
    	color: #003366;
    }
}
.create-project-button {
    text-align: center;
    
    .btn{
    	border-radius: 10px;
    	background: #66FF99;	
    	#buttonText{
    		color: #003300;
    	}
    }
}

.modal {
    width: 300px;
    height: 50% !important;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}
.modal-body {
    height: 150px;
    vertical-align: top;

    label{
        
        font-size: 18px;
        color: #555;
        height: 20px;
        width: 200px;
        margin-top: 10px;
        margin-left: 10px;
        text-align: right;
        margin-right:15px;
        float:left;
    }
    input{
        height: 20px;
        width: 300px;
        border: 1px solid #000;
        margin-top: 10px;
    }
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
