<template name="chatview">
	<div class="chat-primary">
		<div class = "chat-header-div">
			<div class="l-chat">{{chatName}}</div>
			 <div class="m-chat">{{chatDescription}}</div>
			 <div class="r-chat"><a href="" class="settings-icon"></a></div>
		</div>
		<div class="chat-div">
			{{> messages}}
		</div>
		<div class ="chat-input-div">
			{{> entry}}
		</div>
	</div>
</template>

<template name="messages">
	{{#each messageHistory}}
       {{>messageTrue}}
   {{/each}}
</template>

<template name="entry">
	<input type="text" class="chat-input-text" placeholder="">
</template>

<template name="messageTrue">
	<div class="message">
		<a href="" class="message_profile-pic"></a>
		<a href="" class="message_username">{{user}}</a>
		<span class="message_timestamp">{{timeStamp}}</span>
		<span class="message_content">{{text}}</span>
	</div>
</template>

<template name="messageTest">
	<div class="message">
		<a href="" class="message_profile-pic"></a>
		<a href="" class="message_username">Scott</a>
		<span class="message_timestamp">13:37</span>
		<span class="message_content">{{text}}</span>
	</div>
</template>
