<template name="chatview">
	<div class="chat-primary">
		{{>chatsettings}}
		{{>addusertochat}}
		<div class = "chat-header-div">
			<div class="l-chat">{{chatName}}</div>
			 <div class="m-chat">{{chatDescription}}</div>

			 <div class="r-chat">
				 <a href="" class="add-to-chat" onclick="loadAddUserToChat()"></a>
				 <a href="" class="settings-icon" onclick="loadChatSettings()"></a>
			 </div>
		</div>
		<div class="chat-div container-fluid">
			{{> messages}}
		</div>
		<div class ="chat-input-div">
			{{> entry}}
		</div>
	</div>
</template>

<template name="messages">
	{{#each messageHistory}}
       {{>message}}
   {{/each}}
</template>

<template name="entry">
	<input type="text" class="chat-input-text" placeholder="">
</template>

<template name="message">
	<div class="message">
		<a href="" class="message_profile-pic" style="background-image: url('{{profilePic}}')"></a>
		<a href="" class="message_username">{{user}}</a>
		<span class="message_timestamp">{{timestamp}}</span>
		{{#each text}}
			<span class="message_content">{{this}}</span>
		{{/each}}
	</div>
</template>
