<template name="imageGallery">
   <div class="overlay" id="createImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog image-gallery-dialog">
           <div class="modal-content image-gallery-content">
               <div class="modal-header">
                   <button type="button" class="close hide-modal" id="closeImageModal" data-dismiss="modal" aria-hidden="false">&times;</button>
                   <h3 class="modal-title">Select new pic</h3>
               </div>
               <div class="modal-body">
                     <p>images:</p>
                     {{#each profilePics}}
                        {{>profileImage}}
                     {{/each}}



               </div>

           </div>
       </div>
   </div>

</template>

<template name="profileImage">
   <a href="" onclick="selectNewProfilePic('{{this}}')" class="image-option" style="background-image: url(/img/profile-pics/{{this}})"> </a>
</template>
