	<template name="taskActivityItem">
		<div class="rowzzz">
		   	<div id="items">
		    <div class= "task-activity-item"><h3>{{description}}</h3>
			User: {{activityOwner}}

				<div class="rowzzz">
					<div class="column-activitytaskview"><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">0 Comments
					</button></div>




					<div class="column-activitytaskview"><p class="date">{{activityDate}}</p></div>
				</div>
				<div id="demo" class="collapse" style="margin-top: 35px">
				  {{> activityComments}}
				</div>
	  		</div></div>
	  	</div>
			<hr>
</template>
