<template name="taskModal">
    <div class="overlay" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close hide-modal" id="closeTaskModal" data-dismiss="modal" aria-hidden="false">&times;</button>
                    <h3 class="modal-title">Taskinfo</h3> Users: User1, User2 ... (+2)
                </div>
                <div class="modal-body activity-modal">
                <h3 class="modal-title">Activity log</h3>

                  {{#each taskActiviy}}
                      {{>taskActivityItem}}
                  {{/each}}

                </div>
                <div class="modal-footer">
                  <h4> Last updated: </h4> 3 days ago.
                </div>
            </div>
        </div>
    </div>
</template>
